<div class="navbar">
    <div class="inner-wrapper">
        <div class="logo">
            <a class="brand" href="{{ site.url }}/">{{ site.title }}</a>
        </div>

        <nav class="primary-nav" role="navigation">
            <div class="menu-toggle"></div>
            <ul class="menu">
                {#<li><a href="{{ site.url }}/speakers">Speakers</a></li>#}
                {#<li><a href="{{ site.url }}/sessions">Sessions</a></li>#}
                {#<li><a href="{{ site.url }}/schedule">Schedule</a></li>#}
                <li><a href="{{ site.url }}/sponsors">Sponsors</a></li>
                <li><a href="{{ site.url }}/venue">Venue</a></li>
                <li><a href="{{ site.url }}/about">About</a></li>
                <li><a href="mailto:info@midwestphp.org">Contact</a></li>
                <li class="register"><a href="{{ site.url }}/register">Register</a></li>
            </ul>
        </nav>{# .primary-nav #}
    </div>
</div>
